<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Hola</title>
</head>
<body>


<!-- <script>
var length = $('.emotiImage').length;
console.log(length);
for(var i=0;i<length;i++){
$(".emotImage:nth-child("+i+")").click(function(e){
	e.preventDefault();
	alert("okay done");
	})
}</script> -->
</body>
</html>