<!doctype html>

<html>
<head>
	<title>Affiniate</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
  </head>

  <body>
  	<div class="container-fluid" id="homePage">
  		<div class="container" id="signInContainer">
  			<div class="row">
  				<div class="col-sm-8" id="definitionContainer">
  					<div class="row">
  						<div class="col-sm-4 definitionPad">
  							<h4><strong>affinity</strong></h4>
  							<h6><em>noun</em></h6>
  							<p>likeness based on relationship or causal connection</p>
  						</div>
  						<div class="col-sm-4 definitionPad">
  							<h4><strong>meditate</strong></h4>
  							<h6><em>transitive verb</em></h6>
  							<p>to focus one's thoughts on: reflect on or ponder over</p>
  						</div>
  					</div>
  				</div>
  				<div class="col-sm-4">

  					<form class="form" action="/login" method="POST" id="sign-in">
  						<div class="form-group">
  							<input type="text" class="form-control" id="name" name="username" placeholder="name"/>
  						</div>
  						<div class="form-group">
  						<input type="text" class="form-control" id="password" name="password" placeholder="password"/>
  						</div>
  						<div class="form-group">
  							<button type="submit" id="signInButton" class="btn btn-default">Log In</button>
  						</div>
  					</form>			
  				</div>

  			</div>
  		</div>
  	</div>

  	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="/js/bootstrap.min.js"></script>
  	<script src="/js/myJS.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93155714-1', 'auto');
    ga('send', 'pageview');

  </script>
  </body>
  </html>
